<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>ユーザID</th>
      <th>名前</th>
      <th>性別</th>
      <th>誕生日</th>
      <th>メールアドレス</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.sex %></td>
        <td><%= user.birthday %></td>
        <td><%= user.email %></td>
        <td><%= link_to "プロフィール", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
