<p id="notice"><%= notice %></p>

<h1>記事一覧（posts）</h1>

<% @posts.each do |post| %>
  <div class="post">
    <%= post.user_id %>
    <%= post.title %>
    <%= post.content %>
    <%= link_to '詳細を見る', post %>
    <% if post.user_id == current_user.id %>
      <%= link_to '編集', edit_post_path(post) %>
      <%= link_to '削除', post, method: :delete, data: { confirm: '記事を削除してもよろしいですか?' } %>
    <% end %>
  </div>
<% end %>

<%= link_to '記事を投稿する', new_post_path %>
